* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: green;
}

.main_page nav {
  width: 100%;
  position: fixed;
  top: 0;
}
.main_page ul {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
}
.main_page ul li {
  padding: 20px;
}

.summary {
  min-height: 100vh;
  text-align: center;
}
.summary figure {
  padding: 100px;
}
.summary p {
  padding: 20px;
  font-size: 30px;
}
#about {
  min-height: 100vh;
  text-align: center;
  background-color: rgb(47, 47, 192);
}
#about > figure {
  padding: 100px;
}
.container {
  padding: 40px;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container p {
  width: 70%;
  font-size: 20px;
}
.columns_medium ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}
#work {
  text-align: center;
  min-height: 50vh;
  background-color: aqua;
}
#work figure {
  padding: 100px;
}

.contain_works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#work a {
  text-decoration: underline;
  font-size: 25px;
  padding: 20px;
}
#work a:hover {
  background-color: azure;
  border-radius: 10px;
}
#footer {
  background-color: gray;
  text-align: center;
  font-size: 20px;
}
